* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	max-width:1200px;
	margin: 0 auto;
}

h1 {
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
}

.container {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
}

#banner {
	width: 100%;
	margin: auto;
	margin-bottom: 1em;
}

nav {
	padding-left: 1.5em;
	padding-bottom: 1em;
}

nav a {
	padding-right: 1.5em;
	font-size: 1.5em;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: red;
}

/*Tại sao đặt width 33.33% thì chỉ hiển thị được hai div trên một hàng ?? hoặc khi thu nhỏ màn hình cũng chỉ có 2 div*/
.productimage {
	display: inline-block;
	width: 33.33%;
	padding: ;
	text-align: center;
}

.containerimage {
	max-width: 100%;
	max-height: 90%;
}

.containerimage img {
	width: 100%;
	height: 100%;
}

p {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 10%;
}

img:hover {
	opacity: 0.8;
	border-radius: 2%;
}
