* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
}

div {
	font-size: 1.8em;
	text-align: center;
	max-width: 100%;
}

p {
	font-weight: bold;
	font-size: 1.8em;
}

.greeting {
	position: absolute;
	top: 50%;
	right: 50%;
	max-width: 0%;
	animation: movegreeting 3s ease-in-out;
	animation-delay: 0.5s;
}

.congrats {
	opacity: 1;
	animation: anicongrats 6s ease;
	animation-delay: 0s;
}

.goodbye {
	opacity: 0;
}

img {
	/*background-color: blue;*/
	max-width: 50%;
}


@keyframes movegreeting {
	0% {
		max-width: 10%;
		opacity: 0.1; 
		top: 80%; 
		right: 80%;
	}
	
	/*25% {
		max-width: 20%;
		opacity: 0.5; 
		top: 45%; 
		right: 50%;
	}
	*/
	50% {
		max-width: 30%;
		opacity: 1; 
		top: 15%; 
		right: 25%;
	}
	
	75% {
		max-width: 35%;
		opacity: 0.1; 
		top: -5%; 
		right: 0%;
	}
	100% {
		max-width: 0;
		opacity: 0;
		top: 0;
		right: 0;
	}
}

@keyframes anicongrats {
	0% {opacity: 0; }
	20% {opacity: 0; }
	40% {opacity: 0; }
	70% {opacity: 0.5; }
	85% {opacity: 0.8; }
	100% {opacity: 1; }
}

@media screen and (min-width: 720px) and (max-width: 1199px){
	.backtop img {width: 30%;}
	nav {padding-bottom: 3em;}
}

@media screen and (min-width: 1200px) {
	body {width: 90%;}
	h1 {font-size: 2.5em;}
	nav {
	padding-bottom: 8em;
	}
	nav a {
	font-size: 1.5em;
	padding: 0.5em 3em 0 1em;
	}

	.backtop {
	right: 0;
	}

	.backtop img {
	width: 40%;
	height: auto;
	}
}